@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "luxury";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #171717;
  --color-base-200: oklch(20.219% 0.004 308.229);
  --color-base-300: oklch(23.219% 0.004 308.229);
  --color-base-content: oklch(75.687% 0.123 76.89);
  --color-primary: oklch(100% 0 0);
  --color-primary-content: oklch(20% 0 0);
  --color-secondary: oklch(27.581% 0.064 261.069);
  --color-secondary-content: oklch(85.516% 0.012 261.069);
  --color-accent: oklch(36.674% 0.051 338.825);
  --color-accent-content: oklch(87.334% 0.01 338.825);
  --color-neutral: oklch(24.27% 0.057 59.825);
  --color-neutral-content: #eaeaea;
  --color-info: #4f46e5;
  --color-info-content: #eef2ff;
  --color-success: #4ade80;
  --color-success-content: #f0fdf4;
  --color-warning: #fbbf24;
  --color-warning-content: #fffbeb;
  --color-error: #f87171;
  --color-error-content: #fef2f2;
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;

    padding: 0;

    box-sizing: border-box;
  }

  html {
    font-family: sans-serif;
    /* color: #333; */
  }
}


@theme {
  --color-dark: #1e1d1d;
  --color-dark-600: #212121;
  --color-dark-700: #2a2a2a;
}

.rdp-root {
  --rdp-accent-color: rgb(241, 241, 241) !important; 
}

[data-theme="dark"] .rdp-root {
  --rdp-accent-color: yellow; 
}
